.table_score, th{
  text-align: center;
}

.table_score{
  height: 100%;
}

.table{
  border-color: #0066cc
}

.td_score{
  width: 70px !important;
  text-align: center;
}

.txt_nom{
  width: 100px;
}

.input_name{
  width:100px !important;
}

.diablo{
  position: absolute;
  margin-left: 5px;
}

.td_add{
  border: none !important;
}

.set_nb_joueurs{
  width: 60px;
}

/*
  Fixed header table 
*/
tr {
width: 100%;
display: inline-table;
table-layout: fixed;
}

table{
 height:300px;              
 display: -moz-groupbox;
 width: 95%;
}
tbody{
  overflow-y: scroll;      
  height: 70vh;            
  width: 98%;
  position: absolute;
}
/*
  End fixed header table
*/

/*
 *  Scrollbar
 */
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}
/*
 *  End scrollbar
 */