html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFFBF0;
}

.onclick{
  cursor: pointer;
}

.dice{
  border-radius: 0 !important;
  margin-right: 5px;
}

.auto-height{
  overflow-y: auto;
}

.no-border{
  border: none !important;
}

.btn-add-points{
  float: left;
}

/*
  Navbar style
*/
.navbar-custom{
  background-color: #F2C329;
  color:black;
  border-radius:0;
}

.navbar-custom .navbar-brand {
    color:black;
}

.navbar-custom .navbar-nav > .active > a {
    color: black;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a {
  color: black;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #F2C329;
    color: black;
}
.navbar-custom .navbar-toggle {
    background-color:black;
}
.navbar-custom .icon-bar {
    background-color:#0060cc;
}
/*
  End navbar style
*/

/*
 *  margin
 */
  .margin-top-sm{
  margin-top: 10px;
 }
  .margin-top-md{
  margin-top: 20px;
 }
 .margin-top-lg{
  margin-top: 25px;
 }
/*
 *  End margin
 */