html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.table_score, th{
  text-align: center;
}

.table_score{
  height: 100%;
}

.td_score{
  width: 70px !important;
  text-align: center;
}

.txt_nom{
  width: 100px;
}

.onclick{
  cursor: pointer;
}

.btn_regle {
  margin-top: 20px;
}

.input_name{
  width:100px !important;
}
