html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.table_score, th{
  text-align: center;
}

.table_score{
  height: 100%;
}

.td_score{
  width: 70px !important;
  text-align: center;
}

.txt_nom{
  width: 100px;
}

.onclick{
  cursor: pointer;
}

.input_name{
  width:100px !important;
}

.diablo{
  position: absolute;
  margin-left: 5px;
}

.td_add{
  border: none !important;
}

.set_nb_joueurs{
  width: 60px;
}

.btn_set_nom, .btn_mod_nom{
  position: absolute;
  margin-left: 5px;
}

.dice{
  border-radius: 0 !important;
  margin-right: 5px;
}
